body{
    background-color:#090A0E ;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

#fixedImage{
    position:fixed;
    height: auto;
    width: 100vw;
    height: 70vh;
    margin: 0%;
    padding: 0%;
}

/* menu style */
#menu{
    position: relative;
    background-color:rgba(63, 41, 64, 0.2);
    display: flexbox;
    text-align: center;
    padding-top: 20px;
    margin:0px;
}
/* menu item style */
#menu a{
    background-color:transparent;
    border-color: transparent;
    font-size: medium;
    text-align: center;
    font-weight: lighter;
    color: rgb(254, 247, 247);
    padding:5px 4px 3px 2px;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: #090A0E;
}
/* the button and searchField Div */
#searchSubmit{
    display: inline;
    padding-left: 10px;
    text-align: center;
    background-color: transparent;
    margin: 0;
}

/* search button and input */
#searchSubmit input{
    width: 35vw;
    height: 4vh;
    border: transparent;
    background-color: transparent;
    border-bottom-color: #090A0E;
    border-bottom-width: 4px;
    font-size: 20px;
}

#submitIcon{
    width:5vw;
    height: 10vh;
    background-color: transparent;
}
#submit{
    border-color: transparent;
    background-color: transparent;
}
/* Button Hover effects */
#menu a:hover{
    color: red;
    cursor: pointer;
}

input::placeholder{
    color: #646497;
    text-decoration: underline;
    text-decoration-color: rgb(15, 3, 3);
    font-size: 20px;
}
/* End of the menu Div Styling  */

/* The Cover Image Div Info Styling */

.coverTitle{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #090A0E;
    padding: 40px;
}
.coverTitle{
    margin: 0;
    color: white;
    background-color: transparent;
    font-size: 60px;
    font-weight: bold;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#info{
    position: relative;
    background-color: transparent;
    text-align: left;
    margin: 15px;
}

/* movie summary */
#coverInfo{
    background-color:rgba(5, 0, 5, 0.6);
    position: relative;
    font-size: 15px;
    word-wrap: break-word;
    line-height: 20px;
    font-weight: 300;
    margin: 0;
    padding: 20px;
}
.innerTitle{
    background-color: transparent;
    margin: 0;
    color: #e10505;
    font-weight: bold;
    font-size: medium;
}
/* styling the first letter of movie summary. Named it t because I use The Meg as a dev`elopment film */
#t{
    color: rgb(234, 20, 20);
    background-color: transparent;
    font-size: 40px;
    font-weight: bold;
}

/* watch Button  styling */
#watchMovie{
    background-color: red;
    height: 6vh;
    width: 35vw;
    border-color: red;
    -webkit-text-stroke-width: 0px;
    font-size: 18px;
    color: white;
    font-weight:bold;
    text-align: center;
    margin: 0;
}
/* watch button hover effect */
#watchMovie:hover{
    background: linear-gradient(to right, #e10505 50%, #fcfcfd 50%) right;
    color: red;
    background-size: 200% 100%;
    transition:all 1s ease;
    cursor: pointer;
  }

  /* popular movies div */
  #popular ,#coming{
    padding-top: 30px;
    height: 90px;
    color: rgb(0, 0, 0);
    font-size:6vw;
    position: relative;
    text-align: center;
    background-color:#090A0E;
    font-weight: bold;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }

  #holder , #genres{
    overflow: auto;
    white-space: nowrap;
    background-color: #090A0E;
    padding-bottom: 20px;
    position: relative;
  }

  #genres{
    background-color: #090A0E;
    width:100%;
    height:50%;
  }

  /* middle div sstyling */

  /* slogan css */
  #slogan{
    position: relative;
    background-color: #090A0E;
    color: #ff0606;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 50px 9px;
  }
/* contact icons */
  #callIcon , #mailIcon{
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
#lastDiv{
    position: relative;
    text-align: center;
    background-color: #090A0E;
    color: white;
    padding: 30px;
}

#call #email{
    font-size: 25px;
}
#mailDiv{
    display: inline;
    text-align: center;
}
/* div containing contact infoimage buttons */
#mailDiv button{
    width: 70vw;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    background-color: transparent;
    color: #fcfcfd;
    border-color: transparent;
    padding: 10px;
}
#mailDiv button:hover{
    cursor: pointer;
    background: linear-gradient(to right, #f2ecec 50%, #090A0E 50%) right;
    color: rgb(255, 255, 255);
    background-size: 200% 100%;
    transition:all 1s ease;
}
/* div containing contact infoimage icons */
#mailDiv img{
    display: flex;
}
/* last Streamsee logo */
#logo{
    width: 80vw;
}
#movie{
    background-color: #090A0E;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:transparent;
}

::-webkit-scrollbar-thumb:hover{
    background:white;
    cursor: pointer;
}
#rights{
    font-size: 13px;
}
